$bodyFont: normal 15px/20px Georgia, "Times New Roman", Times, serif;

$bodyBackground: #659A01;

$bodyColor: #FFF;

$contentBackground: #660;

$h1Color: #FDCD10;

$borderColor: #FFF;

$aColor: #FDCD10;

$briefBackground: #677D01;

$briefMargin: 30px 0 30px 0;

$briefFloat: none;

$briefWidth: auto;

$thBackground: #94A34E;

$tdBackground: #667E00;

$captionColor: #fff;