$bodyFont: normal 12px/18px Arial, Helvetica, sans-serif;

$bodyBackground: #DDBC9A;

$bodyColor: #000;

$contentBackground: #fff;

$h1Color: #944A14;

$aColor: #117BDB;

$borderColor: #944A14;

$briefBackground: #FADCBA;

$briefMargin: 0 30px 30px 0;

$briefFloat: left;

$briefWidth: 350px;

$thBackground: #E0E0E0;

$tdBackground: #fff;

$captionColor: #515151;