h1 {
    color: #464547;
    font-family: 'source-sans-pro-regular',sans-serif,helvetica,arial;
    font-size: 72px;
}

.tag {
    quotes: "<" ">";
}

.tag:before { 
    content: open-quote;
    color: #39C2D7;
}

.tag:after { 
    content: close-quote;
    color: #39C2D7;
}

.format {
    transform: scaleY(1.8);
}